extends ../../includes/layout-dashboard

block content
  ol.breadcrumb
    li.breadcrumb-item
      a(href="/dashboard") Home
    li.breadcrumb-item.active
      span.mm အကြွေးဆပ်
  h1.page-header-mm အကြွေးဆပ်
  include ../../includes/delete-confirm
  div.table-responsive
    table#list.table.table-striped
      thead
        tr
          th #
          th.mm ရက်စွဲ
          th Customer
          th.mm အဝယ် ဘောင်ချာ
          th Amount
          th.actions-2
            a.btn.btn-success.list-action-text(href="./customer-settlement/entry", role="button", title="Add")
              i.fa.fa-plus
      tbody
  script.
    $(document).ready(function() {
      var token = "!{token}";
      $('div.sidebar-sticky li.nav-item').removeClass('active');
      $('li#menu-customer-settlement').addClass('active');
      $('div#sale_subitems').addClass('show');
      var access = ("#{permission.access}").split(",");
      if (access[1] != "1") $("#adder").hide();

      $.fn.dataTable.ext.errMode = 'none';
      var table = $('table#list').on('error.dt', function(e, settings, techNote, message) {
          console.log('DataTables Error: ', message);
          alert('Read data error!');
        }).DataTable({
          "autoWidth": true,
          "ajax": { 
            "url": "/api/settlementview/getCustomerSettlement",
            "headers": {"authorization": "Bearer " + token},
            "dataSrc": "data"
          },
          "columns": [
              { "data": "id", "className": "no-action" },
              { "data": "date" },
              { "data": "customer_name" },
              { "data": "voc_no" },
              { "data": "amount" },
              { "data": "actions", "className": "nowrap" }
          ],
          "columnDefs": [
            { targets: 0, render: dataTableIndexRenderer() },
            { targets: 1, render: dataTableDateRenderer() },
            { targets: 4, render: dataTableAmtWithCommas() },
            { targets: 5, orderable: false, render: dataTableActionsRenderer("./customer-settlement/edit", "#{permission.access}") }
          ]
      });

      $('#dialogDeleteConfirm').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var id = button.data('id');
        $(this).attr('data-id', id);
        $(this).find('#dialogAccept').on('click', function(ev) {
          var deleteUrl = '/customer-settlement/delete/' + id;
          doDelete(deleteUrl, token, function() {
            table.ajax.reload();
          });
        });
      }).on('hide.bs.modal', function (event) {
        $(this).attr('data-id', '');
        $(this).find('#dialogAccept').off('click');
      });
    });