extends ../../includes/layout-dashboard

block content
  ol.breadcrumb
    li.breadcrumb-item
      a(href="/dashboard") Home
    li.breadcrumb-item.active
      span.mm အကြွေးလက်ကျန် (ရရန်)
  h1.page-header.mm အကြွေးလက်ကျန် (ရရန်)

  form.form-horizontal#entryForm(method='post', action=`${postUrl}`)
    div.form-group.row
        label.col-sm-2.control-label(for='startdate') From Date
        div.col-sm-10
          input.form-control.fromdate#start.mm(type='text', name='start', required)

    div.form-group.row
      label.col-sm-2.control-label(for='enddate') To Date
      div.col-sm-10
        input.form-control.todate#end.mm(type='text', name='end', required)
        
    div.row.justify-content-center.form-actions
      button.btn.btn-primary#loadBtn(type='button', role='button') Load

  div.table-responsive
    table#list.table.table-striped
      thead
        tr
          th #
          th Date
          th Customer
          th.mm ဘောက်ချာ
          th.mm ကျန်ငွေ
      tbody

  script.
    $(document).ready(function() {
      var token = "!{token}";
      $('div.sidebar-sticky li.nav-item').removeClass('active');
      $('li#menu-customer-debt-report').addClass('active');
      $('div#report_subitems').addClass('show');
      var access = ("#{permission.access}").split(",");
      if (access[1] != "1") $("#adder").hide();

      $.fn.dataTable.ext.errMode = 'none';

      let current = new Date();
      let month = current.getMonth() + 1;
      const year = current.getFullYear();
      let day = current.getDate();
      if (month < 10)
        month = "0" + month;
      if (day < 10)
        day = "0" + day;

      const showcurrent = day + "/" + month + "/" + year;
      const showstart = "01/" + month + "/" + year;
      $("#start").val(showstart);
      $("#end").val(showcurrent);
      reload(showstart, showcurrent);

      $("#loadBtn").on('click', function(event){
        reload($("#start").val(), $("#end").val());
      });

     function reload(start, end) {
        var table = $('table#list').DataTable({
          destroy: true,
          autoWidth: true,
          ajax: { 
            "url": "/api/reportview/getCustomerDebtReport?start="+start+"&end="+end,
            "type": "GET",
            "headers": {"authorization": "Bearer " + token}
          },
          columns: [
            { "data": "id" },
            { "data": "date" },
            { "data": "customer_name" },
            { "data": "voc_no" },
            { "data": "balance" }
          ],
          columnDefs: [
            { targets: 0, render: dataTableIndexRenderer() },
            { targets: 1, render: dataTableDateRenderer() },
            { targets: 4, render: dataTableBalanceWithCommas() }
          ],
          lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
          dom:  "<'row'<'col-sm-12 col-md-12 mb-1'B>>" +
                "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
          buttons: [
            {
              extend: 'excel',
              text: 'Excel',
              charset: 'utf-8',
              className: 'success-excel',
              filename: 'အကြွေးလက်ကျန် (ရရန်)',
              exportOptions: {
                columns: [ 0, 1, 2, 3, 4 ]
              },
              title: 'အကြွေးလက်ကျန် (ရရန်)',
            }
          ]
        });

        return table;
      }

    });