extends ../../includes/layout-dashboard

block content
  ol.breadcrumb
    li.breadcrumb-item
      a(href="/dashboard") Home
    li.breadcrumb-item.active
      span Daily Usage
  h1.page-header-mm.mm နေ့စဉ်အသုံးစာရင်း
  include ../../includes/delete-confirm
  div.progress.mb-1#progress
    div.progress-bar.progress-bar-striped.progress-bar-animated(role='progressbar', aria-valuenow='100', aria-valuemin="0", aria-valuemax="100", style="width: 100%")
  div.table-responsive
    table#list.table.table-striped
      thead
        tr
          th #
          th နေ့စဉ်အသုံးစာရင်း အမျိုးအစား
          th Title
          th Amount
          th.actions-2
            a.btn.btn-success.list-action-text(href="./daily-usage/entry", role="button", title="Add")
              i.fa.fa-plus
      tbody

  div.modal.fade#modalReply(tabindex="-1", role="dialog")
    div.modal-dialog.modal-xl(role="document")
      div.modal-content
        div.modal-header
          h4.modal-title နေ့စဉ်အသုံးစာရင်း Import
          button.close#btnClose(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
        div.modal-body
          form.form-horizontal#entryForm(method='POST', enctype="multipart/form-data", action='/file/usageimport/import')

            div.form-group.row
              label.col-sm-2.control-label(for='import') အသုံးစာရင်း Import
              div.col-sm-8
                input.form-control#excel(type='file', name='file',  accept='.xls,.xlsx,.csv', change="changeEvent($event)")

              div.col-sm-2.sample
                div.sample-btn
                  a(href=`https://drive.google.com/file/d/1OQqHK5boiH1HztfWyTbw-ydApkPEuPbz/view?ts=60e86a0d`, alt="sample", target=`_blank`, title=`sample`) Sample File
               
            div.row.justify-content-md-center.form-actions
              button.btn.btn-primary#submit(type='submit', data-dismiss="modal") Save
              button.btn.btn-secondary#btnCancel(type='button', role='button') Cancel
              //- a.btn.btn-secondary#btnCancel(href=tableimport, role='button') Cancel

          form#postSuccessForm(method='GET', action='bundleimport')

  script.
    $(document).ready(function() {
      var token = "!{token}";
      $('div.sidebar-sticky li.nav-item').removeClass('active');
      $('li#menu-daily-usage').addClass('active');
      $('div#cashinout_subitems').addClass('show');
      var access = ("#{permission.access}").split(",");
      if (access[1] != "1") $("#adder").hide();
      $("#progress").hide();

      var submitBtn = document.getElementById("submit");
      submitBtn.setAttribute("disabled", "");
      $.fn.dataTable.ext.errMode = 'none';
      reload();
      function reload() {
        var table = $('table#list').on('error.dt', function(e, settings, techNote, message) {
          console.log('DataTables Error: ', message);
          alert('Read data error!');
        }).DataTable({
          "autoWidth": true,
          "processing": true,
          "destroy": true,
          "ajax": { 
            "url": "/api/daily_usage?columns=daily_usage.id,daily_usage.title,daily_usage.total_amount,daily_cash_type.type&join=left,daily_cash_type,daily_cash_type_id,eq,daily_cash_type.id",
            "headers": {"authorization": "Bearer " + token},
            "dataSrc": "daily_usage"
          },
          "columns": [
              { "data": "id" },
              { "data": "type" },
              { "data": "title" },
              { "data": "total_amount" },
              { "data": "actions", "className": "nowrap" }
          ],
          "columnDefs": [
            { targets: 0, render: dataTableIndexRenderer() },
            { targets: 3, render: dataTableTotalAmtWithCommas() },
            { targets: 4, orderable: false, render: dataTableActionsRenderer("./daily-usage/edit", "#{permission.access}") }
          ],
          dom: "<'row'<'col-12'B>>" +
                "<'row'<'col-6'l><'col-6'f>>" +
                "<'row'<'col-12'tr>>" +
                "<'row'<'col-5'i><'col-7'p>>",
          buttons: [
            {
              text: 'Import',
              className: 'success-import',
              action: function ( e, dt, node, config ) {
                //- alert( 'Button activated' );
                //- $('.import').modal('modalReply');
                $('#modalReply').modal('show');
              }
              //- editor: editor             
            }
          ]
        });
        return table;
      }

      $('#dialogDeleteConfirm').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var id = button.data('id');
        $(this).attr('data-id', id);
        $(this).find('#dialogAccept').on('click', function(ev) {
          var deleteUrl = '/daily-usage/delete/' + id;
          doDelete(deleteUrl, token, function() {
            table.ajax.reload();
          });
        });
      }).on('hide.bs.modal', function (event) {
        $(this).attr('data-id', '');
        $(this).find('#dialogAccept').off('click');
      });

      $("#excel").on('change', function (event) {
        if($('#excel').val() != "")
          submitBtn.removeAttribute("disabled");
      });

      $("#submit").on('click', function(ev) {
        if($('#excel').val() != "")
          $("#progress").show()
        $("#upload:hidden").on('change', function(){
          $('#entryForm').submit();
        });
        $('#modalReply').modal('toggle');
      });

      $("#btnCancel").on('click', function(ev) {
        $('#excel').val("");
        submitBtn.setAttribute("disabled", "");
      });

      $('#entryForm').ajaxForm({
        success: function(data) {
          if (data.message == "success") {
            reload();
            $("#progress").hide()
            $("#alertTitle").html("Success");
            $("#alertMessage").html("Importing Successful!");
            $("#alert").addClass("alert-success").show();
            $('#excel').val("");

            var postFrm = $('#postSuccessForm');
            var params = $.url(postFrm.attr('action')).param();
            if (!params) {
              for(var key in params) {
                postFrm.append($('<input type="hidden" name="'+key+'" value="'+ params[key] +'" />'));
              }
            }
            window.setTimeout(function(){
              //- postFrm.submit();
            }, 2 * 1000);

          } else {
            $("#alertTitle").html("Error");
            $("#alertMessage").html("Importing Error!");
            $("#alert").addClass("alert-danger").show();
          }
        }
      });
    });