extends ../../includes/layout-dashboard

block content
  ol.breadcrumb
    li.breadcrumb-item
      a(href="/dashboard") Home
    li.breadcrumb-item.active
      span Diamond
  h1.page-header Diamond
  include ../../includes/delete-confirm
  div.table-responsive
    table#list.table.table-striped
      thead
        tr
          th #
          th.mm အထုပ် Code
          th.mm ကျောက်အမျိုးအစား
          th.mm မှတ်ချက်
          th.actions-2
            a.btn.btn-success.list-action-text(href="./diamond/entry", role="button", title="Add")
              i.fa.fa-plus
      tbody
  script.
    $(document).ready(function() {
      var token = "!{token}";
      $('div.sidebar-sticky li.nav-item').removeClass('active');
      $('li#menu-diamond').addClass('active');
      $('div#production_subitems').addClass('show');
      var access = ("#{permission.access}").split(",");
      if (access[1] != "1") $("#adder").hide();

      $.fn.dataTable.ext.errMode = 'none';
      var table = $('table#list').on('error.dt', function(e, settings, techNote, message) {
          console.log('DataTables Error: ', message);
          alert('Read data error!');
        }).DataTable({
          "autoWidth": true,
          "ajax": { 
            "url": "/api/wholediamondview/getDiamond",
            "headers": {"authorization": "Bearer " + token},
            "dataSrc": "diamond"
          },
          "columns": [
              { "data": "id" },
              { "data": "wd_code"},
              { "data": "gemtype" },
              { "data": "remark" },
              { "data": "actions", "className": "nowrap" }
          ],
          "columnDefs": [
            { targets: 0, render: dataTableIndexRenderer() },
            { targets: 4, orderable: false, render: dataTableIsFinishActionsRenderer("./diamond/edit", "#{permission.access}") }
          ]
      });

      $('#dialogDeleteConfirm').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var id = button.data('id');
        $(this).attr('data-id', id);
        $(this).find('#dialogAccept').on('click', function(ev) {
          var deleteUrl = '/diamond/delete/' + id;
          doDelete(deleteUrl, token, function() {
            table.ajax.reload();
          });
        });
      }).on('hide.bs.modal', function (event) {
        $(this).attr('data-id', '');
        $(this).find('#dialogAccept').off('click');
      });
    });