extends ../../includes/layout-dashboard

block content
  ol.breadcrumb
    li.breadcrumb-item
      a(href="/dashboard") Home
    li.breadcrumb-item.active
      span ကာလပေါက်ဈေး
  h1.page-header ကာလပေါက်ဈေး
  include ../../includes/delete-confirm
  div.table-responsive
    table#list.table.table-striped
      thead
        tr
          th #
          th ရက်စွဲ
          th စိန်စျေး
          th ပလက်တီနမ်စျေး
          th ၁၆ပဲရည်
          th ၁၅ပဲရည်
          th ၁၄ပဲရည်
          th ၁၃ပဲရည်
          th.actions-2
            a.btn.btn-success.list-action-text(href="./goldrate-price/entry", role="button", title="Add")
              i.fa.fa-plus
      tbody
  script.
    $(document).ready(function() {
      var token = "!{token}";
      $('div.sidebar-sticky li.nav-item').removeClass('active');
      $('li#menu-goldrate-price').addClass('active');
      $('div#setup_subitems').addClass('show');
      var access = ("#{permission.access}").split(",");
      if (access[1] != "1") $("#adder").hide();

      $.fn.dataTable.ext.errMode = 'none';
      var table = $('table#list').on('error.dt', function(e, settings, techNote, message) {
          console.log('DataTables Error: ', message);
          alert('Read data error!');
        }).DataTable({
          "autoWidth": true,
          "ajax": { 
            "url": "/api/goldrate_price?order=createddate,desc",
            "headers": {"authorization": "Bearer " + token},
            "dataSrc": "goldrate_price"
          },
          "columns": [
              { "data": "id" },
              { "data": "createddate" },
              { "data": "diamond" },
              { "data": "platinum" },
              { "data": "a" },
              { "data": "b" },
              { "data": "c" },
              { "data": "d" },
              { "data": "actions", "className": "nowrap" }
          ],
          "columnDefs": [
            { targets: 0, render: dataTableIndexRenderer() },
            { targets: 1, render: dataTableDateRenderer() },
            { targets: 8, orderable: false, render: dataTableActionsRenderer("./goldrate-price/edit", "#{permission.access}") }
          ]
      });

      $('#dialogDeleteConfirm').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var id = button.data('id');
        $(this).attr('data-id', id);
        $(this).find('#dialogAccept').on('click', function(ev) {
          var deleteUrl = '/goldrate-price/delete/' + id;
          doDelete(deleteUrl, token, function() {
            table.ajax.reload();
          });
        });
      }).on('hide.bs.modal', function (event) {
        $(this).attr('data-id', '');
        $(this).find('#dialogAccept').off('click');
      });
    });