extends ../../includes/layout-dashboard

block content
  ol.breadcrumb
    li.breadcrumb-item
      a(href="/dashboard") Home
    li.breadcrumb-item.active
      span.mm အထည်ကြမ်း
  h1.page-header-mm အထည်ကြမ်း
  include ../../includes/delete-confirm
  div.table-responsive
    table#list.table.table-striped
      thead
        tr
          th #
          th.mm နေ့စွဲ
          th code
          th.mm ဘောင်ချာနံပါတ်
          th.mm အဝယ်ဒိုင်
          th.mm အလေးချိန်
          th.mm ကျသင့်ငွေ
          th.actions-2
            a.btn.btn-success.list-action-text(href="./goldraw/entry", role="button", title="Add")
              i.fa.fa-plus
      tbody
  script.
    $(document).ready(function() {
      var token = "!{token}";
      $('div.sidebar-sticky li.nav-item').removeClass('active');
      $('li#menu-goldraw').addClass('active');
      $('div#purchase_subitems').addClass('show');
      var access = ("#{permission.access}").split(",");
      if (access[1] != "1") $("#adder").hide();

      $.fn.dataTable.ext.errMode = 'none';
      var table = $('table#list').on('error.dt', function(e, settings, techNote, message) {
          console.log('DataTables Error: ', message);
          alert('Read data error!');
        }).DataTable({
          "autoWidth": true,
          "ajax": { 
            "url": "/api/goldraw?columns=goldraw.*,supplier.supplier_name&join=left,supplier,supplier_id,eq,supplier.id&order=createddate,desc",
            "headers": {"authorization": "Bearer " + token},
            "dataSrc": "goldraw"
          },
          "columns": [
              { "data": "id" },
              { "data": "date" },
              { "data": "code" },
              { "data": "voc_no" },
              { "data": "supplier_name" },
              { "data": "wgt_gm" },
              { "data": "netprice" },
              { "data": "actions", "className": "nowrap" }
          ],
          "columnDefs": [
            { targets: 0, render: dataTableIndexRenderer() },
            { targets: 1, render: dataTableDateRenderer() },
            { targets: 7, orderable: false, render: dataTableActionsRenderer("./goldraw/edit", "#{permission.access}") }
          ]
      });

      $('#dialogDeleteConfirm').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var id = button.data('id');
        $(this).attr('data-id', id);
        $(this).find('#dialogAccept').on('click', function(ev) {
          var deleteUrl = '/goldraw/delete/' + id;
          doDelete(deleteUrl, token, function() {
            table.ajax.reload();
          });
        });
      }).on('hide.bs.modal', function (event) {
        $(this).attr('data-id', '');
        $(this).find('#dialogAccept').off('click');
      });
    });