extends ../../includes/layout-dashboard

block content
  ol.breadcrumb
    li.breadcrumb-item
      a(href="/dashboard") Home
    li.breadcrumb-item.active
      span.mm Showroom ပစ္စည်းများ
  h1.page-header-mm Showroom ပစ္စည်းများ
  include ../../includes/delete-confirm
  div.table-responsive
    table#list.table.table-striped
      thead
        tr
          th #
          th.mm စာရင်းသွင်းနေ့စွဲ
          th Code
          th.mm ဓာတ်ပုံ
          th.mm စိန်ပွင့်ရေ
          th.mm အမျိုးအစား
          th Grade
          //- th.mm အလေးချိန်
          th.mm ရောင်းဈေး
          //- th.actions-2
            //- a.btn.btn-success.list-action-text(href="./lonesee/entry", role="button", title="Add")
            //-   i.fa.fa-plus
      tbody
  script.
    $(document).ready(function() {
      var token = "!{token}";
      $('div.sidebar-sticky li.nav-item').removeClass('active');
      $('li#menu-item').addClass('active');
      $('div#sale_subitems').addClass('show');
      var access = ("#{permission.access}").split(",");
      if (access[1] != "1") $("#adder").hide();

      $.fn.dataTable.ext.errMode = 'none';
      var table = $('table#list').on('error.dt', function(e, settings, techNote, message) {
          console.log('DataTables Error: ', message);
          alert('Read data error!');
        }).DataTable({
          "autoWidth": true,
          "ajax": { 
            "url": "/api/itemview/itemList",
            "headers": {"authorization": "Bearer " + token},
            "dataSrc": "data"
          },
          "columns": [
              { "data": "id" },
              { "data": "showroom_date" },
              { "data": "code" },
              { "data": "image" },
              { "data": "diamond_qty" },
              { "data": "category_name"},
              //- { "data": "wgt_gm" },
              { "data": "grade_name" },
              { "data": "price" },
              //- { "data": "actions", "className": "nowrap" }
          ],
          "columnDefs": [
            { targets: 0, render: dataTableIndexRenderer() },
            { targets: 1, render: dataTableDateRenderer() },
            { targets: 3, render: dataTableImageRenderer() },
            { targets: 7, render: dataTablePriceWithCommas() },
            //- { targets: 11, orderable: false, render: dataItemTableActionsRenderer("./item/edit", "#{permission.access}") }
          ]
      });
    });