extends ../../includes/layout-dashboard

block content
  ol.breadcrumb
    li.breadcrumb-item
      a(href="/dashboard") Home
    li.breadcrumb-item.active
      span.mm စရံ(စိန်)
  h1.page-header-mm စရံ(စိန်)
  include ../../includes/delete-confirm
  div.table-responsive
    table#list.table.table-striped
      thead
        tr
          th #
          th.mm ရက်စွဲ
          th.mm Customer
          th.mm စရံ
          th.mm အကြောင်းအရာ
          th.mm Due Date
          th.actions-4
            a.btn.btn-success.list-action-text(href="./order-diamond/entry", role="button", title="Add")
              i.fa.fa-plus
      tbody
  script.
    $(document).ready(function() {
      var token = "!{token}";
      $('div.sidebar-sticky li.nav-item').removeClass('active');
      $('li#menu-order-diamond').addClass('active');
      $('div#sale_subitems').addClass('show');
      var access = ("#{permission.access}").split(",");
      if (access[1] != "1") $("#adder").hide();

      $.fn.dataTable.ext.errMode = 'none';
      var table = $('table#list').on('error.dt', function(e, settings, techNote, message) {
          console.log('DataTables Error: ', message);
          alert('Read data error!');
        }).DataTable({
          "autoWidth": true,
          "ajax": {
            "url": "/api/order_diamond?columns=order_diamond.*,customer.customer_name&filter=is_delete,eq,0&join=left,customer,customer_id,eq,customer.id&order=date,desc",
            "headers": {"authorization": "Bearer " + token},
            "dataSrc": "order_diamond"
          },
          "columns": [
              { "data": "id" },
              { "data": "date" },
              { "data": "customer_name" },
              { "data": "total_amount" },
              { "data": "description" },
              { "data": "duedate" },
              { "data": "actions", "className": "nowrap" }
          ],
          "columnDefs": [
            { targets: 0, render: dataTableIndexRenderer() },
            { targets: 1, render: dataTableDateRenderer() },
            { targets: 3, render: dataTableTotalAmtWithCommas() },
            { targets: 5, render: dataTableDateRenderer() },
            { targets: 6, orderable: false, render: dataTableIsActiveActionsRenderer("./order-diamond/preview", "./order-diamond/edit", "#{permission.access}") }
          ]
      });

      $('#dialogDeleteConfirm').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var id = button.data('id');
        $(this).attr('data-id', id);
        $(this).find('#dialogAccept').on('click', function(ev) {
          var deleteUrl = '/order-diamond/delete/' + id;
          doDelete(deleteUrl, token, function() {
            table.ajax.reload();
          });
        });
      }).on('hide.bs.modal', function (event) {
        $(this).attr('data-id', '');
        $(this).find('#dialogAccept').off('click');
      });
    });