extends ../../includes/layout-dashboard

block content
  ol.breadcrumb
    li.breadcrumb-item
      a(href="/dashboard") Home
    li.breadcrumb-item.active
      span.mm အထည်ချရန်စာရင်း
  h1.page-header-mm အထည်ချရန်စာရင်း
  include ../../includes/barcode
  div.table-responsive
    table#list.table.table-striped
      thead
        tr
          th #
          th.mm ရက်စွဲ
          th.mm ဓာတ်ပုံ
          th.mm ပစ္စည်းအမည်
          th.mm အမျိုးအစား
          th.mm အလေးချိန်
          th.actions-5
            //- a.btn.btn-success.list-action-text(href="./get-diamond/entry", role="button", title="Add")
            //-   i.fa.fa-plus
      tbody
  script.
    $(document).ready(function() {
      var token = "!{token}";
      $('div.sidebar-sticky li.nav-item').removeClass('active');
      $('li#menu-polish-finish').addClass('active');
      $('div#production_subitems').addClass('show');
      var access = ("#{permission.access}").split(",");
      if (access[1] != "1") $("#adder").hide();

      $.fn.dataTable.ext.errMode = 'none';
      var table = $('table#list').on('error.dt', function(e, settings, techNote, message) {
          console.log('DataTables Error: ', message);
          alert('Read data error!');
        }).DataTable({
          "autoWidth": true,
          "ajax": {
            "url": "/api/polish?columns=polish.*,item.item_name,item.status,item.is_stock,item.is_sale,item.is_detail&filter=isfinished,eq,1&join=left,item,item_id,eq,item.id&order=date,desc",
            "headers": {"authorization": "Bearer " + token},
            "dataSrc": "polish"
          },
          "columns": [
              { "data": "id" },
              { "data": "date" },
              { "data": "image" },
              { "data": "item_name" },
              { "data": "status"},
              { "data": "wgt_gm" },
              { "data": "actions", "className": "nowrap" }
          ],  
          "columnDefs": [
            { targets: 0, render: dataTableIndexRenderer() },
            { targets: 1, render: dataTableDateRenderer() },
            { targets: 2, render: dataTableImageRenderer() },
            { targets: 6, orderable: false, render: dataTablePolishFinishActionsRenderer("./item/barcode", "./item/detail", "./item/counter", "#{permission.access}") }
          ]
      });

      $('#dialogBarcode').on('show.bs.modal', function (event) {
        console.log("barcode ");
        //- var button = $(event.relatedTarget);
        //- var id = button.data('id');
        //- $(this).attr('data-id', id);
        //- $(this).find('#dialogAccept').on('click', function(ev) {
        //-   var deleteUrl = '/divide-mould/delete/' + id;
        //-   doDelete(deleteUrl, token, function() {
        //-     table.ajax.reload();
        //-   });
        //- });
      }).on('hide.bs.modal', function (event) {
        //- $(this).attr('data-id', '');
        //- $(this).find('#dialogAccept').off('click');
      });
   });