extends ../../includes/layout-dashboard

block content
  ol.breadcrumb
    li.breadcrumb-item
      a(href="/dashboard") Home
    li.breadcrumb-item.active
      span.mm ဖျက်ထားသော ပြန်သွင်း(ရွှေ)
  h1.page-header-mm ဖျက်ထားသော ပြန်သွင်း(ရွှေ)
  include ../../includes/recover-confirm
  div.table-responsive
    table#list.table.table-striped
      thead
        tr
          th #
          th.mm ရက်စွဲ
          th.mm User
          th.mm ပြန်သွင်း ဘောက်ချာ
          th.actions-4
      tbody
  script.
    $(document).ready(function() {
      var token = "!{token}";
      $('div.sidebar-sticky li.nav-item').removeClass('active');
      $('li#menu-return-gold-delete').addClass('active');
      $('div#returnshowroom_subitems').addClass('show');
      var access = ("#{permission.access}").split(",");
      if (access[1] != "1") $("#adder").hide();

      $.fn.dataTable.ext.errMode = 'none';
      var table = $('table#list').on('error.dt', function(e, settings, techNote, message) {
          console.log('DataTables Error: ', message);
          alert('Read data error!');
        }).DataTable({
          "autoWidth": true,
          "ajax": {
            "url": "/api/return_gold?columns=return_gold.*,user.username&filter=is_delete,eq,1&join=left,user,deleted_user_id,eq,user.id",
            "headers": {"authorization": "Bearer " + token},
            "dataSrc": "return_gold"
          },
          "columns": [
              { "data": "id" },
              { "data": "deleted_date" },
              { "data": "user_name" },
              { "data": "voc_no" },
              { "data": "actions", "className": "nowrap" }
          ],
          "columnDefs": [
            { targets: 0, render: dataTableIndexRenderer() },
            { targets: 1, render: dataTableDateRenderer() },
            { targets: 2, render: dataTableDeleteUser() },
            { targets: 4, orderable: false, render: dataTableRecoverActionsRenderer("#{permission.access}") }
          ]
      });

      $('#dialogRecoverConfirm').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var id = button.data('id');
        $(this).attr('data-id', id);
        $(this).find('#dialogAccept').on('click', function(ev) {
          var recoverUrl = '/return-gold-delete/recover/' + id;
          doRecover(recoverUrl, token, function() {
            table.ajax.reload();
          });
        });
      }).on('hide.bs.modal', function (event) {
        $(this).attr('data-id', '');
        $(this).find('#dialogAccept').off('click');
      });
    });