extends ../../includes/layout-dashboard

block content
  ol.breadcrumb
    li.breadcrumb-item
      a(href="/dashboard") Home
    li.breadcrumb-item.active
      span.mm ပန်းတိမ်ပေးပီး ပြင်ထည်
  h1.page-header-mm ပန်းတိမ်ပေးပီး ပြင်ထည်
  include ../../includes/delete-confirm
  include ../../includes/polish-confirm
  div.table-responsive
    table#list.table.table-striped
      thead
        tr
          th #
          th.mm ရက်စွဲ
          th Code
          th.mm ပန်းထိမ်ဆရာ
          th.mm စိုက်ရွှေ
          th.actions-3
            //- a.btn.btn-success.list-action-text(href="./return-outside/entry", role="button", title="Add")
            //-   i.fa.fa-plus
      tbody
  script.
    $(document).ready(function() {
      var token = "!{token}";
      $('div.sidebar-sticky li.nav-item').removeClass('active');
      $('li#menu-return-goldsmith-finish').addClass('active');
      $('div#returnproduction_subitems').addClass('show');
      var access = ("#{permission.access}").split(",");
      if (access[1] != "1") $("#adder").hide();

      $.fn.dataTable.ext.errMode = 'none';
      var table = $('table#list').on('error.dt', function(e, settings, techNote, message) {
          console.log('DataTables Error: ', message);
          alert('Read data error!');
        }).DataTable({
          "autoWidth": true,
          "ajax": {
            "url": "/api/return_goldsmith?columns=return_goldsmith.date,return_goldsmith.pay_wgt_gm,return_goldsmith.is_polish,return_goldsmith.id,return_goldsmith.return_item_id,goldsmith.goldsmith_name,return_items.code&join=left,return_items,return_item_id,eq,return_items.id&join=left,goldsmith,goldsmith_id,eq,goldsmith.id",
            "headers": {"authorization": "Bearer " + token},
            "dataSrc": "return_goldsmith"
          },
          "columns": [
              { "data": "id" },
              { "data": "date" },
              { "data": "code" },
              { "data": "goldsmith_name" },
              { "data": "pay_wgt_gm" },
              { "data": "actions", "className": "nowrap" }
          ],
          "columnDefs": [
            { targets: 0, render: dataTableIndexRenderer() },
            { targets: 1, render: dataTableDateRenderer() },
            { targets: 5, orderable: false, render: dataTableReturnGoldsmithFinishActionsRenderer("./return-goldsmith/edit", "#{permission.access}") }
          ]
      });

      $('#dialogDeleteConfirm').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var id = button.data('id');
        $(this).attr('data-id', id);
        $(this).find('#dialogAccept').on('click', function(ev) {
          var deleteUrl = '/return-goldsmith/delete/' + id;
          doDelete(deleteUrl, token, function() {
            table.ajax.reload();
          });
        });
      }).on('hide.bs.modal', function (event) {
        $(this).attr('data-id', '');
        $(this).find('#dialogAccept').off('click');
      });

      $('#dialogPolishConfirm').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var id = button.data('id');
        $(this).attr('data-id', id);
        $(this).find('#dialogAccept').on('click', function(ev) {
          var addUrl = '/return-items/polish/' + id;
          doPolish(addUrl, token, function() {
            table.ajax.reload();
          });
        });
      }).on('hide.bs.modal', function (event) {
        $(this).attr('data-id', '');
        $(this).find('#dialogAccept').off('click');
      });
    });